<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Slack Test Suite">
            <directory suffix="Test.php">./src/CL/Slack/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/CL/Slack/</directory>
            <exclude>
                <directory>./src/CL/Slack/Resources</directory>
                <directory>./src/CL/Slack/Tests</directory>
                <directory>./src/CL/Slack/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
